#documentation
recursive-include doc/en/html/man3/setupdocx *

#Misc
include .gitignore
include ArtisticLicense20.html
include README.md
include callDocSphinx.sh
include licenses-amendments.txt
include setup.cfg
include setup.py
include dosrc/logo.png
